keybinds {

    shared_except "locked" "entersearch" "renametab" "renamepane" {
        bind "esc"    { SwitchToMode "locked"; }
    }
    
    shared_except "normal" "locked" {
        bind "enter" { SwitchToMode "normal"; }
    }

    locked {
        bind "ctrl l" { SwitchToMode "normal"; }
    }

    normal {
        bind "w" { SwitchToMode "pane"; }
        bind "r" { SwitchToMode "resize"; }
        bind "s" { SwitchToMode "scroll"; }
        bind "t" { SwitchToMode "tab"; }
        bind "m" { SwitchToMode "move"; }

        bind "f"   { ToggleFloatingPanes; SwitchToMode "locked"; }
        bind "f"   { ToggleFocusFullscreen; SwitchToMode "locked"; }

        bind "h" "left"  { MoveFocus "left"; }
        bind "l" "right" { MoveFocus "right"; }
        bind "j" "down"  { MoveFocus "down"; }
        bind "k" "up"    { MoveFocus "up"; }
        bind "c"         { CloseFocus; SwitchToMode "locked"; }
        bind "n"         { NewPane; SwitchToMode "locked"; }
    }
    
    pane {
        bind "w" { SwitchFocus; }
        bind "n" { NewPane; SwitchToMode "normal"; }
        bind "h" { NewPane "left"; SwitchToMode "normal"; }
        bind "l" { NewPane "right"; SwitchToMode "normal"; }
        bind "j" { NewPane "down"; SwitchToMode "normal"; }
        bind "k" { NewPane "up"; SwitchToMode "normal"; }
        bind "c" { CloseFocus; SwitchToMode "normal"; }
        bind "r" { SwitchToMode "renamepane"; PaneNameInput 0;}
        bind "]" { BreakPaneRight; SwitchToMode "locked"; }
        bind "[" { BreakPaneLeft; SwitchToMode "locked"; }
    }

    move {
        bind "m"         { MovePane; }
    }
    
    tab {
        bind "r"                    { SwitchToMode "renametab"; TabNameInput 0; }
        bind "n"                    { NewTab; SwitchToMode "renametab"; TabNameInput 0; }
        bind "c"                    { CloseTab; SwitchToMode "locked"; }
        bind "b"                    { BreakPane; SwitchToMode "locked"; }
    }

    scroll {
        bind "J"        { HalfPageScrollDown; }
        bind "K"        { HalfPageScrollUp; }
    }

    search {
        bind "J"        { HalfPageScrollDown; }
        bind "K"        { HalfPageScrollUp; }
        bind "n"        { Search "down"; }
        bind "N"        { Search "up"; }
        bind "s"        { SwitchToMode "entersearch"; SearchInput 0; }
    }

    shared {
        bind "alt n" { NewPane; }
        bind "alt c" { CloseFocus; }
        bind "alt q" { CloseTab; }
        bind "alt f" { ToggleFloatingPanes; }
        bind "alt F" { ToggleFocusFullscreen; }
        bind "alt h" { MoveFocus "left"; }
        bind "alt l" { MoveFocus "right"; }
        bind "alt j" { MoveFocus "down"; }
        bind "alt k" { MoveFocus "up"; }
        bind "alt s" {
            Run "tv" "sessions" {
                close_on_exit true
                floating true
                move_to_focused_tab true
                name "sessions"
            };
            SwitchToMode "locked"
        }
        bind "alt r" { SwitchToMode "renametab"; TabNameInput 0; }
        bind "alt t" { NewTab; SwitchToMode "renametab"; TabNameInput 0; }
        bind "alt H" { GoToPreviousTab; }
        bind "alt L" { GoToNextTab; }
        bind "alt =" { Resize "increase"; }
        bind "alt -" { Resize "decrease"; }
        bind "alt [" { PreviousSwapLayout; }
        bind "alt ]" { NextSwapLayout; }
    }

}

plugins {
    tab-bar         { path "tab-bar"; }
    status-bar      { path "status-bar"; }
    compact-bar     { path "compact-bar"; }
    session-manager { path "session-manager"; }
}

theme "catppuccinmocha"
themes {
    catppuccinmocha {
        fg      "#cdd6f4"
        bg      "#1e1e2e"
        black   "#45475a"
        yellow  "#f9e2af"
        // blue    "#89b4fa"
        green   "#89b4fa"
        red     "#f38ba8"
        magenta "#f5c2e7"
        // green   "#a6e3a1"
        blue    "#a6e3a1"
        orange  "#fab387"
        cyan    "#94e2d5"
        white   "#bac2de"

        frame_selected {
            base 4
            background 0
            emphasis_0 0
            emphasis_1 0
            emphasis_2 0
            emphasis_3 0
        }
        frame_highlight {
            base 2
            background 0
            emphasis_0 0
            emphasis_1 0
            emphasis_2 0
            emphasis_3 0
        }
    }
}

advanced_mouse_actions false
default_layout "default"
default_mode "locked"
mouse_hover_effects false
pane_frames false
stacked_resize false
session_serialization false
